.divBorder{ 
    text-align: center; 
    border: 3px solid black; 
    width: 200px; 
    height: 300px!important; 
    float: right; 
    top: 10px; 
    right:10px; 
    position: fixed;
}

table  {    
    border-right:1px solid black; 
    border-collapse: collapse; 
    table-layout: fixed;  
    margin-top: 30px;   
}

td:nth-child(odd) {
  background-color: #E6E6E6;  
  border-right: 1px dashed black;
  border-left: 1px dashed black;
  border-top:1px solid black;
  border-bottom:1px solid black;
  text-align: center;
  width: 20px;
  height: 60px;
  overflow: hidden;
}

td:nth-child(even) {
  background-color: #E6E6E6;
  border-right: 1px dashed black; 
  border-left: 1px solid black;
  border-top:1px solid black;
  border-bottom:1px solid black;
  text-align: center;
  width: 20px;
  height: 60px;
  overflow: hidden;
}

.xOsa{
    background-color: white!important;
    border-right: 1px dashed white!important;
    border-left: 1px dashed white!important;
    border-top:1px solid  white !important;
    border-bottom:1px solid #E6E6E6;
}

.yOsa{
    background-color: white !important;
    border-right: 1px solid black!important;
    border-left: 1px dashed white!important;
    border-top:1px solid  white!important;
    border-bottom:1px solid  white!important;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right!important;
    width: 200px!important;
    height: 50px!important;
}

.satnica{
    background-color: white !important;
    border-right: 1px solid white!important;
    border-left: 1px dashed white!important;
    border-top:1px solid  white!important;
    border-bottom:1px solid  white!important;
    font-size: small!important;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right!important;
    vertical-align:bottom;
    width: 200px!important;
    height: 50px!important;
}

.satnica2{
    background-color: white!important;
    border-right: 1px dashed white!important;
    border-left: 1px dashed white!important;
    border-top:1px solid  white !important;
    border-bottom:1px solid #E6E6E6;
    font-size: small!important;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right!important;
    vertical-align:bottom;
}

.predavanjaPocetak{
    background-color: #DEE6EF!important;
    border-right: 1px solid #DEE6EF!important;
    border-left: 1px solid  black;
    border-top:1px solid  black !important;
    border-bottom:1px solid black!important;


}
.predavanja{
    
    background-color: #DEE6EF!important;
    border-right: 1px solid #DEE6EF!important;
    border-left: 1px solid   #DEE6EF!important;
    border-top:1px solid  black !important;
    border-bottom:1px solid black!important;
    vertical-align: middle!important;
}
.predavanjaKraj{
    background-color: #DEE6EF!important;
    border-right: 1px solid black !important;
    border-left: 1px solid  #DEE6EF!important;
    border-top:1px solid  black !important;
    border-bottom:1px solid black!important;
}

.tekstRasporedManji{
    margin-top: 1px;
    margin-bottom: 20px;
    font-size: x-small!important;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center!important;
    vertical-align: middle!important;
}

.tekstRasporedVeci{
    margin-top: 0.5px;
    margin-bottom: 0px;
    font-size: medium!important;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle!important;
}



@media only screen and (max-width: 600px) {
 
    table{
        transform:rotate(90deg);
        margin-top: auto;


    }
    td:empty {
        visibility: hidden!important;
      }

    td{
        transform:rotate(270deg); 
        border-right: 1px solid white!important;
        border-left: 1px dashed white!important;
        border-top:1px solid  white!important;
        border-bottom:1px solid  white!important;       
    }
    .predavanja{

        border-right: 1px solid white!important;
        border-left: 1px dashed white!important;
        border-top:1px solid  white!important;
        border-bottom:1px solid  white!important;       
    }
    .predavanjaKraj{
        border-right: 1px solid white!important;
        border-left: 1px dashed white!important;
        border-top:1px solid  white!important;
        border-bottom:1px solid  white!important;       
    }
    .predavanjaPocetak{
        border-right: 1px solid white!important;
        border-left: 1px dashed white!important;
        border-top:1px solid  white!important;
        border-bottom:1px solid  white!important;       
    }

    .yOsa{

            display: block;
            margin-right: 10px;
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            width: auto;
            height: auto;
            padding: 10px;
            background-color: white !important;

            border-right: 1px solid white!important;
            border-left: 1px dashed white!important;
            border-top:1px solid  white!important;
            border-bottom:1px solid  white!important;
    }

    .divBorder{
        display: none;
    }
    .xOsa{
        display: none;
    }
    .satnica2{
        display: none;
    }
    .satnica{
        display: none;
    }
    
  }