label { 
    display: inline-block;
     width: 150px; 
     text-align: justify;
    }

    .center {
        text-align: center; 
         max-width: 500px; 
         margin: auto; 
         padding: 10px; 
         margin-left: 500px;
        }
.divBorder2{
    text-align: left;
    border: 2px solid black; 
}
.divBorder{
    text-align: center; 
    border: 3px solid black; 
    width: 200px; 
    height: 180px; 
    float:right; 
    top: 10px; 
    right:10px; 
    position: fixed; 
}

@media only screen and (max-width: 600px) {
    input, label {
        display:block;
    }
    .center{margin-left: 10px;}
  }